/* mixes both default Tailwind CSS directives and custom CSS rules */

/* These are the default Tailwind CSS directives that import the base styles, components, and utilities provided by the Tailwind framework. */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* The @layer directive is a Tailwind-specific feature that allows you to group your custom utility classes, components, or base styles together. This is useful for keeping your styles organized and ensuring that they're injected in the right order. */

/* We must update this to use HEX instead of HSL bullshit */

@layer base {
  :root {
    /* Black */
    /* Foreground is text */
    --foreground: #000000;

    /* White */
    /* Page Background */
    --secondary: #ffffff;
    --background: #ffffff;
    --destructive-foreground: #ffffff;

    /* Azure */
    --popover-foreground: #f0fdff;

    --primary-foreground: #f0fdff;
    --accent-foreground: #f0fdff;
    /* --primary-foreground: 189 100% 97%; */
    /* --popover-foreground: 189 100% 97%; */
    /* --card-foreground: 189 100% 97%; */
    /* --accent-foreground: 189 100% 97%; */

    /* Silver */
    --border: #cccccc;
    --card-foreground: #f6f6f6;

    /* Platinum */
    /* --accent: #d9d9d9; */
    --muted: #fae9c4;
    --input: #feca26;
    --accent: #f58447;

    /* Cadet Gray */
    --muted-foreground: #94a3b8;
    /* --muted-foreground: 215 20.2% 65.1%; */

    /* Dark Purple */
    --popover: #100222;
    /* --popover: 267 89% 7%; */
    --card: #100222;
    /* --card: 267 89% 7%; */

    /* Blue (Munsell) */
    --primary: #0495af;
    /* --primary: 189 96% 35%; */

    /* Non Photo Blue */
    --primary-from: #81cdda;
    /* --primary-from: 189 55% 68%; */

    /* School Bus Yellow */
    --secondary-foreground: #ffdf3d;
    /* --secondary-foreground: 50 100% 62%; */

    /* Jasper */
    --destructive: #c64b37;

    --ring: 217.2 32.6% 17.5%;

    --radius: 0.5rem;
    --min-column-width: min(300px, 100%);
    --max-width-blog: min(calc(75ch + 64px), 100%);

    /* Falu Red */
    /* --destructive: #7f1d1d; */
    /* --destructive: 0 62.8% 30.6%; */

    /* Lavender Blush */
    /* --destructive-foreground: #fef2f2; */
    /* --destructive-foreground: 0 85.7% 97.3%; */

    /* OLD Prussian Blue */
    /* --muted: #1d238a;
    --border: #1d238a;
    --input: #1d238a; */
    /* --secondary: 217.2 32.6% 17.5%; */
    /* --accent: 217.2 32.6% 17.5%; */
    /* --muted: 217.2 32.6% 17.5%; */
    /* --border: 217.2 32.6% 17.5%; */
    /* --input: 217.2 32.6% 17.5%; */
    /*  */
  }

  /* .light-theme {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
  } */

  /* .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 217.2 32.6% 17.5%;
  } */

  /* Dark Mode */
  /* This is a media query that targets users who have set their operating system to prefer a dark color theme. The block inside is commented out but, when active, it would apply the dark theme styles to users with this preference. */
  /* @media (prefers-color-scheme: dark) {
    :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 217.2 32.6% 17.5%;
  }
} */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-firaSans;
  }
}

/* dropdown */
.dropdown {
  @apply relative inline-block;
}
.dropdown > *:focus {
  @apply outline-none;
}
.dropdown .dropdown-content {
  @apply absolute;
}
.dropdown:is(:not(details)) .dropdown-content {
  @apply invisible opacity-0;
}
.dropdown-bottom .dropdown-content {
  @apply bottom-auto top-full;
}
.dropdown.dropdown-open .dropdown-content,
.dropdown:not(.dropdown-hover):focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
  @apply visible opacity-100;
}
@media (hover: hover) {
  .dropdown.dropdown-hover:hover .dropdown-content {
    @apply visible opacity-100;
  }
}

/* menu */
.menu {
  @apply flex flex-col flex-wrap text-sm;
}
.menu :where(li ul) {
  @apply relative whitespace-nowrap;
}
:where(.menu li) {
  @apply relative flex flex-col flex-wrap items-stretch shrink-0;
}

/* custom style */
.golden-italic {
  @apply text-secondary-foreground italic font-bold;
}
